/* Style for each response element in the list */
.response-container {
    margin-bottom: 10px;
    padding: 2vh 2vw;
    font-size: 1rem;
    display: flex;
}

.response-container:first-child {
    padding: 0 2vw;
}

.response-container:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.response-container.user-input {
    background-color: rgba(6, 121, 200, 0.25);
    font-size: 12px;
    font-weight: 600;
}

.response-container .avatar-image {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.response-container .response-content {
    display: flex;
    flex-direction: column;
}

.response-container pre {
    max-width: 100%;
    margin: 0 !important;
    white-space: break-spaces;
}

.response-container .prompt-content {
    background: transparent !important;
    padding: 0 !important;
}

.response-container.ai-resp .prompt-content h1 {
    font-size: 16px;
    font-weight: 700;
}

.response-container.ai-resp .prompt-content h2 {
    font-size: 14px;
    font-weight: 600;
}

.response-container.ai-resp .prompt-content p,ul,ol {
    font-size: 12px;
    font-weight: 400;
}

.response-container.ai-resp .prompt-content ol li::marker {
    font-weight: 600;
}

.response-container.ai-resp .prompt-content ul, ol {
    padding-inline-start: 20px;
}

.response-container.ai-resp .prompt-content ol {
    list-style-type: decimal;
}

.ai-image {
    width: 500px;
    height: auto;
}

.error-response {
    color: rgb(220, 0, 0) !important;
}

/* Override hljs to match for chatgpt */
.hljs {
    background: rgb(0,0,0) !important;
    color: white !important;
    display: block;
    padding: 10px;
    border-radius: 6px;
}

.hljs-section, .hljs-title {
    color: #f22c3d !important;
}

.hljs-deletion, .hljs-number, .hljs-quote, .hljs-selector-class, .hljs-selector-id, .hljs-string, .hljs-template-tag, .hljs-type {
    color: #df3079 !important;
}

.hljs-addition, .hljs-built_in, .hljs-bullet, .hljs-code {
    color: #e9950c !important;
}

.hljs-link, .hljs-operator, .hljs-regexp, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-symbol, .hljs-template-variable, .hljs-variable {
    color: white !important;
}